* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

@media (prefers-color-scheme: dark) {
	html {
	  color-scheme: dark;
	}
  }

  /* If the user prefers light mode,
  we still enforce color-scheme: dark, despite the user preference */
  @media (prefers-color-scheme: light) {
	html {
	  color-scheme: dark;
	}
  }
  

input, textarea {
	outline: none;
	-moz-resize: none;
	resize: none;
	font-family: inherit;
}

html {
  margin: 0;
  height: 100%;
}

html, body, #app {
  display: flex;
  flex-direction: column;
}

body, #app, #main-content {
  flex-grow: 1;
}

#app {
	:global(> *:first-child) {
		position: relative;
	}
}
