:root {
  font-size: 1.4rem;
}

html {
  margin: 0;
  height: 100%;
}

html, body, #app {
  display: flex;
  flex-direction: column;
}

body, #app, #main-content {
  flex-grow: 1;
}

nav {
  margin-left: -1px !important;
  position: fixed;
  transition: width .2s ease-in-out, transform .2s ease-in-out !important;
}

.bx--header__action {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.bx--header__action, .bx--header__action:hover, .bx--header__action:focus {
	outline: none !important;
}

.bx--header__action:focus {
  border-color: transparent !important;
}
.bx--header__action:hover {
  background-color: transparent !important;
}

@media (max-width: 1056px) {
  .bx--side-nav.bx--side-nav--expanded ~ .bx--content {
    margin-left: 0rem !important;
  }
  }